body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    margin-right: 450px;
}
#nav {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #E4E4E4;
    -webkit-box-shadow: 2px 0px 20px 0px #000;
    -moz-box-shadow: 2px 0px 20px 0px #000;
    box-shadow: 2px 0px 20px 0px #000;
}
#relative_nav_mock {
    position: relative;
    width: 250px;
    height: 1px;
    float: left;
}
#nav #avatar {
    margin-top: 20px;
    padding-left: 13%;
    height: 140px;
}
#nav h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}
#nav h2 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}
#nav ul {
    padding: 0;
    margin-top: 30px;
    width: 100%;
}
#nav ul li {
    font-size: 12px;
    border-bottom: solid;
    border-color: #C1C1C1;
    border-width: 0.1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}
#nav ul .selected {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #45A372;
    -webkit-box-shadow: inset 0px 1px 5px 0px #323232;
    -moz-box-shadow: inset 0px 1px 5px 0px #323232;
    box-shadow: inset 0px 1px 5px 0px #323232;
    border-top: none;
    border-bottom: none;
}
#nav ul #button_1 {
    border-top: solid;
    border-color: #C1C1C1;
    border-width: 0.1px;
}
#nav ul li:hover, #nav ul li:focus {
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}
#nav ul #button_1:hover, #nav ul #button_1:focus,
#nav ul #button_5:hover, #nav ul #button_5:focus {
    background-color: #45A372 !important;
}
#nav ul #button_2:hover, #nav ul #button_2:focus,
#nav ul #button_6:hover, #nav ul #button_6:focus {
    background-color: #438EB0 !important;
}
#nav ul #button_3:hover, #nav ul #button_3:focus,
#nav ul #button_7:hover, #nav ul #button_7:focus {
    background-color: #8C78B3 !important;
}
#nav ul #button_4:hover, #nav ul #button_4:focus,
#nav ul #button_8:hover, #nav ul #button_8:focus {
    background-color: #D66794 !important;
}
.page_container {
    display: none;
    height:100%;
    position: relative;
    width: 100%;
    overflow: auto;
    padding-left: 40px;
}
.current {
    display: block;
}
#github_repos {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #C1C1C1;
}
#github_repos h2 {
    font-size: 14px;
    background-color: #D66794;
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
    padding: 14px;
    margin-bottom: 0;
    text-decoration: none;
}
.repo_name {
    padding: 14px;
    border-top: solid;
    border-top-width: 0.1px;
    border-color: #C1C1C1;
}
.repo_forks a {
    font-size: 12px;
    float: right;
    padding: 14px;
    padding-top: 16px;
}
.repo_name a, .repo_forks a {
    text-decoration: none;
}
.repo_name a:hover, .repo_name a:focus {
    text-decoration: underline;
}
.repo_description {
    margin-top: 5px;
    font-size: 12px;
    color: #393939;
}